version: '3.1'

services:

  accompaniator:
    image: accompaniator
    build: accompaniator
    devices:
      - /dev/snd:/dev/snd
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - /run/dbus/:/run/dbus/:rw
      - /dev/shm:/dev/shm

  accompaniator-dev:
    image: accompaniator-dev
    build: accompaniator-dev
    devices:
      - /dev/snd:/dev/snd
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - /run/dbus/:/run/dbus/:rw
      - /dev/shm:/dev/shm
      - ./../:/build/accompaniator
    ports:
      - 8110:8110
      - 8000:8000

  accompaniator-prod:
    image: accompaniator-prod
    build: accompaniator-prod
    devices:
      - /dev/snd:/dev/snd
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - /run/dbus/:/run/dbus/:rw
      - /dev/shm:/dev/shm
    ports:
      - 8110:8110
      - 8000:8000

  accompaniator-test:
    image: accompaniator-test
    build: accompaniator-test
    environment:
    - CC_TEST_REPORTER_ID
    - CODECLIMATE_REPO_TOKEN
