{% extends 'main_base.html' %}


{% load static %}

{% block idea %}


<!--========== SLIDER ==========-->
<div class="promo-block">
    <div class="container">
        <div class="row">

            <div class="col-sm-offset-3">
                <div class="promo-block-img-wrap">
                    <a class='btn btn-secondary' href="{% url 'process' %}">
                        <img class= img-responsive" src="{% static 'img/button.png' %}" class="img-circle" href="{% url 'process' %}" align="Avatar">
                    </a>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <!--// end row -->
    </div>
</div>
<!--========== SLIDER ==========-->



{% endblock %}
