<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Горизонтальный список</title>
  <style>
   ul.hr {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
   }
   ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    }
  </style>
 </head>
 <body>
  <ul class="hr">
   <li><a >  <img src="../../static/img/star_dark.png" width="10%" height="10%"></a></li>
   <li><a >  <img src="../../static/img/star_dark.png" width="10%" height="10%"></a></li>
   <li><a >  <img src="../../static/img/star_dark.png" width="10%" height="10%"></a></li>

  </ul>
 </body>
</html>