{% extends 'main_base.html' %}


{% load static %}

{% block idea %}

<!--========== SLIDER ==========-->

<div class="promo-block">

    <div class="container">
        <div class="row">

            <div class="col-sm-offset-3">
                <div class="promo-block-img-wrap">
                    <a class='btn btn-secondary' href="{% url 'results' %}">
                        <img class=" img-responsive center-block" src="{% static 'img/button_stop.png' %}" class="img-circle" href="{% url 'results' %}" align="Avatar">
                         <p><span id="my_timer" style="font-size: 300%;">00:00</span></p>

                    </a>
                </div>
            </div>
            <br><br><br><br><br><br><br><br><br><br>

        </div>
        <!--// end row -->
    </div>
</div>
<!--========== SLIDER ==========-->



{% endblock %}
