{% extends 'main_base.html' %}


{% load static %}

{% block idea %}

<!--========== SLIDER ==========-->
<div class="promo-block">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-sm-offset-4">
                <h1>Записи</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-sm-offset-2">
                <h6> 1. OLOVO</h6>
                <h6> 1. OLOVO</h6>
                <h6> 1. OLOVO</h6>
                <h6> 1. OLOVO</h6>
            </div>
            <div class="col-sm-1 ">
                <p>2.24</p>
                <p>2.24</p>
                <p>2.24</p>
                <p>2.24</p>

            </div>
            <div class="col-sm-2 col-sm-offset-1">
                <h6> 1. OLOVO</h6>
                <h6> 1. OLOVO</h6>
                <h6> 1. OLOVO</h6>
                <h6> 1. OLOVO</h6>
            </div>
            <div class="col-sm-1 ">
                <h6> 2.24</h6>
                <h6> 2.24</h6>
                <h6> 2.24</h6>
                <h6> 2.24</h6>

            </div>


        </div>
        <!--// end row -->
    </div>
</div>
<!--========== SLIDER ==========-->


{% endblock %}