{% extends 'main_base.html' %}


{% load static %}

{% block idea %}

<!--========== SLIDER ==========-->
<div class="promo-block">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-sm-offset-4">
                <h1>Settings</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-sm-offset-3">
                <h2> Громкость</h2>
                <h2> Темп</h2>
                <h2> Инструмент</h2>
            </div>
            <div class="col-sm-2 col-sm-offset-1">
                <h2> 125 Db</h2>
                <h2> 126 bpm</h2>
                <h2> Гитара</h2>

            </div>


        </div>
        <!--// end row -->
    </div>
</div>
<!--========== SLIDER ==========-->


{% endblock %}