# Audio stuff
aubio
pyaudio
mido
python-rtmidi
#madmom
#cython

# ML stuff
sklearn
tensorflow
numpy
pandas
matplotlib
scipy

# QA stuff
flake8
coverage

# Common stuff
tqdm

# Web stuff
django
tornado
six

# Java ML stuff
git+https://github.com/jpmml/sklearn2pmml.git
