{% extends 'base.html' %}

{% load static %}

{% block main %}

<header class="header navbar-fixed-top">
    <!-- Navbar -->
    <nav class="navbar" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="menu-container js_nav-item">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="toggle-icon"></span>
                </button>

                <!-- Logo -->
                <div class="logo">
                    <a class="logo-wrap" href="{% url 'home' %}">
                        <img class="logo-img" src="{% static 'img/logo.png' %}" >
                    </a>
                </div>
                <!-- End Logo -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->

            <div class="collapse navbar-collapse nav-collapse">
                <div class="menu-container">
                    <ul class="nav navbar-nav navbar-nav-right">
                        <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="{% url 'home' %}">Домой</a></li>
                        <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="{% url 'recordings' %}">Записи</a></li>
                        <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="{% url 'settings' %}">Настройки</a></li>
                    </ul>
                </div>
            </div>
            <!-- End Navbar Collapse -->
        </div>
    </nav>
    <!-- Navbar -->
</header>


{% block idea %}

{% endblock %}

{% endblock %}